
.container {
    display: flex;   
    justify-content: space-between;
    width: 100%;
}


.mazeContainer {
    width : 70%; 
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.mazeCanvas {
    width: 50%;
    aspect-ratio: 1/1;
}


.sidebar {
    background-color: gray;
    width: 30%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
}


.sliderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.buttonContainer {
    width : 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px; 
}


.sidebarButton {
    width: 25%;
    height: 50px;
    aspect-ratio: 3/1;
    border : none; 
    font-size: 0.5rem;
    border: 3px solid black;
}


.sidebarButton:hover {
    background-color: rgb(179, 174, 174);
}


.sidebarButton:active {
    background-color: rgb(134, 234, 146);
    transform : scale(1.1); 
    transition: transform .75s ease; 
}

