<main>
    <app-header (algorithmChoosen)="this.appStateObj.algorithm = $event"></app-header>
    <div class = container>
        <div class = "sidebar">
            <div class = "sliderContainer">
                <h3 class = "sliderTitle">Maze Height</h3>
                <input #heightSlider class = "slider" type="range" value ={{this.INITIALMAZESIDE}} min = {{this.MINMAZESIDE}} 
                max = {{this.MAXMAZESIDE}} step = 2 (input)="this.appStateObj.setMazeHeight(heightSlider, this.mazeCanvasRef)">
            </div>
            
            <div class = "sliderContainer">
                <h3 class = "sliderTitle">Maze Width</h3>
                <input #widthSlider class = "slider" type="range" value = {{this.INITIALMAZESIDE}} min = {{this.MINMAZESIDE}} 
                max = {{this.MAXMAZESIDE}} step = 2 (input)="this.appStateObj.setMazeWidth(widthSlider, this.mazeCanvasRef)">
            </div>

            <div class = "sliderContainer">
                <h3 class = "sliderTitle">Speed</h3>
                <input #speedSlider class = "slider" type="range" value = {{this.initialDelay}} min = 1 
                max = {{this.maxDelay}} (input)="this.appStateObj.setAlgorithmDelay(speedSlider, this.maxDelay)">
            </div>

            <div class = "buttonContainer">
                <button id = "startButton" class = "customButton sidebarButton" (click)="this.appStateObj.toggleRunning(this.mazeCanvasRef)">{{this.appStateObj.startButtonText}}</button>
                <button id = "pauseButton" class = "customButton sidebarButton" (click)="this.appStateObj.togglePause()">{{this.appStateObj.pauseButtonText}}</button>
            </div>

        </div>
        <div class = "mazeContainer">
            <canvas class = "mazeCanvas" #mazeCanvas></canvas>
        </div>

    </div>
</main>