
.container {
    display: flex;   
    justify-content: center;
    width: 90%;
    margin: auto; 
    height: 70vh;

}


.mazeContainer {
    width : 70%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}


.mazeCanvas {
    width: 60%;
    aspect-ratio: 1/1;
}


.sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
}


.sliderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 10px; 
    border: 3px solid rgb(41, 41, 41);
    background-color:rgb(5, 5, 5) ;
    border-radius: 2px;
    width: 40%;
    height: 12%;
    box-shadow: 0 0 10px 10px rgb(15, 15, 15);
}

.slider {
    height: 5px;
    background: red;
    width: 80%;
}

.sliderTitle {
    margin-top: 5px;
}


.buttonContainer {
    width : 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}


.sidebarButton {
    color: white; 
    width: 30%;
    height: 50px;
    aspect-ratio: 3/1;
    border : 3px solid rgb(57, 57, 57);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px rgb(15, 15, 15);
}

.sidebarButton:hover , .slider:hover {
    cursor: pointer;
}

.sidebarButton:active {
    background-color: rgb(134, 234, 146);
    transform : scale(.97); 
    transition: transform .2s ease; 
}

#startButton {
    background-color: rgb(2, 124, 2);
}

#pauseButton {
    background-color: red;
}

#startButton:hover {
    background-color: rgb(2, 89, 2);
}

#pauseButton:hover {
    background-color: rgb(116, 3, 3);
}

